data/install/*.zip
data/sites/*
!data/sites/.gitkeep
.tools/local/web/www/*
!.tools/local/web/www/index.txt
.tools/.secret
# important: do not remove the obove line
.tools/tmp/*
!.tools/tmp/.gitkeep
**/cypress.config.mjs
**/cypress.config.mjs.bak
**/output/visual-regression-diff
**/node_modules
**/output
**/import
**/tests/cypress/downloads/**
!visual-regression/import/sitemap.csv.example
**/.pnpm-store
