data/install/*.zip
data/sites/*
!data/sites/.gitkeep
.tools/local/web/www/*
!.tools/local/web/www/index.txt
.tools/.secret
# important: do not remove the obove line
.tools/tmp/*
!.tools/tmp/.gitkeep
**/output
**/import
**/tests/cypress/downloads/**
**/tests/cypress.config.mjs
**/tests/cypress.config.mjs.bak
